h1 {
    font-family: "Varsity-Regular";
}

.highlights {
    display: flex;
    flex-direction: row;
}

.highlights *:not(#mid) {
    margin: auto;
    width: 40%;
    height: 60%;
}

#mid {
    width: 60%;
    height: 60%;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    /*box shadow sebar Kanan & Kiri
}
