.out,
.in,
.pro {
  display: flex;
  margin: 20px;
}

.out {
  flex-direction: row;
}

.in {
  flex-direction: column;
  width: 20%;
}

img {
  border-radius: 20px;
}

.pro img {
  width: 200px;
  height: 300px;
}

.pro {
  width: 80%;
  background-position: center;
  border-radius: 20px;
  display: flex;
  box-shadow: 5px 5px 10px;
}

#ihsan {
  background-image: url("../Assets/mocha-pippi-osu-devochki-priroda-smekh.jpg");
}

#akhdan {
  background-image: url("../Assets/1-8-1024x576.webp");
}
#zayyan {
  background-image: url("../Assets/Chevrolet\ Camaro_BG.png");
}


.pro * * {
  background-color: white;
  border-radius: 1px;
}

.pro * {
  margin: 20px;
}

p {
    overflow-wrap: break-word;
}