h1 {
    font-family: "Varsity-Regular";
}

.highlights {
    display: flex;
    flex-direction: column;
}

/* .highlights *:not(#mid) {
    width: 40%;
} */

#mid {
    width: 60%;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
}
